.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    max-height: 400px;
    min-width: 100px;
    margin:10px;
    width: 100%;
    background-color: white;
    z-index: 1;
}
.product__price{
    margin-top:5px;
}
.product__info{
    height: 100px;
    margin-bottom: 15px;

}

.product__rating{
    display: flex;
    margin-left: 10px;
}
.product >img{
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}
.product > button{
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    margin-bottom: 10px;
}

.product__info >p {
    margin-top:10px;
    margin-left: 10px;
}
.product__{
    margin-left: 10px;
}